@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#070421, #1B1287);
  font-family: 'Fira Code', monospace;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: 0;
  padding-bottom: 0;
}

.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImage {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.aboutButton {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #FFFFFF;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Fira Code', monospace;
  transition: background-color 0.3s ease;
}

.aboutButton:hover {
  background-color: #FFFFFF;
  color: #1B1287;
}

.subTitle {
  font-size: 2rem;
  text-align: center;
}

.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}

.formContainer {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  border-radius: 10px;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

.submitButton {
  padding: 10px;
  background-color: #1B1287;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.submitButton:hover {
  background-color: rgb(71, 148, 237);
}

.signUpText {
  margin-top: 30px;
  font-size: 15px;
  color: #1B1287;
  transition: all 0.3s ease-in-out;
}

.signUpText:hover {
  font-size: 20px;
}

.googleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: #1B1287;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.googleButton:hover {
  background-color: rgb(71, 148, 237);
}

.googleIcon {
  margin-right: 10px;
}

.footer {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Fira Code', monospace;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header .logo {
    margin-bottom: 20px;
  }

  .formContainer {
    width: 90%;
    padding: 20px;
  }

  .aboutButton {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .subTitle {
    font-size: 1.5rem;
  }

  .submitButton,
  .googleButton {
    font-size: 0.9rem;
  }

  .footer p {
    font-size: 14px;
  }
}
