.container {
  background: linear-gradient(to bottom, #070421, #1B1287);
  color: #FFFFFF;
  font-family: 'Fira Code', monospace;
  min-height: 100vh;
}

.header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logoImage {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.signInContainer {
  display: flex;
  align-items: center;
}

.signInButton {
  background-color: transparent;
  border: 2px solid #FFFFFF;
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.signInButton:hover {
  background-color: #FFFFFF;
  color: #1B1287;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.nav {
  display: flex;
  justify-content: space-around;
  margin: 50px;
  margin-bottom:0;
}

.navItem {
  font-size: 25px;
  font-weight: bold;
  color: #FFFFFF;
  transition: transform 0.3s ease-in-out;
}

.navItem:hover {
  transform: scale(1.1);
}

.selectedItem {
  color: rgb(71, 148, 237);
}

.actions {
  display: flex;
  gap: 15px;
}

.logoutButton {
background-color: transparent;
border: 2px solid #FFFFFF;
color: #FFFFFF;
padding: 10px 20px;
text-decoration: none;
font-size: 16px;
font-weight: bold;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
font-family: 'Fira Code', monospace;
}

.logoutButton:hover {
  background-color: #FFFFFF;
  color: #1B1287;
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  padding: 100px 0;
}

.flashcard {
  width: 725px;
  height: 450px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #1B1287;
  /* font-size: 36px; */
  font-size: 1.7rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 15px;
  perspective: 1000px;
  line-height: 1.6;
}

/* ----------------- */

/* Inner container that handles the flip */
.flashcardInner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  transform: rotateY(0deg); /* Start in default position */
}

/* Flip the card */
.flashcardInner.isFlipped {
  transform: rotateY(180deg); /* Flip the card */
}

/* Both the front and back sides of the flashcard */
.flashcardFront, .flashcardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 20px;
  border-radius: 10px;
}

/* Front side styling */
.flashcardFront {
  background-color: #f0f0f0;
  color: #000;
}

/* Back side styling */
.flashcardBack {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg); /* Rotate the back side to align correctly */
}

/* -------------------- */
.controls {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.controlButton {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  color: #1B1287;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.controlButton:hover {
  background-color: rgb(71, 148, 237);
  color: white;
}

.footer {
  height: 3vh;
  background-color: rgba(124, 155, 197, 0.695);
  padding: 20px;
  text-align: center;
}

.footer p {
  margin: 0;
  color: white;
  font-size: 18px;
  font-weight: normal;
  font-family: 'Fira Code', monospace;
}

.linkedinLogo {
  margin-left: 20px;
}


/* components/modal.module.css */
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  color: black;
}

.closeButton {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #0070f3;
  color: white;
  cursor: pointer;
}


@media screen and (max-width: 1200px) {
  .header {
    flex-direction: column;
    text-align: center;
    margin: 10px;
  }

  .logo {
    margin-bottom: 20px;
  }

  .navItem {
    font-size: 20px;
  }

  .welcomeSection {
    height: auto;
    padding: 200px 25px;
  }
  
  .welcomeMessage {
    font-size: 30px;
  }
}

/* Small screens (max-width: 1000px) */
@media screen and (max-width: 1000px) {
  .header {
    padding: 10px;
    margin-bottom: 60px;
    margin-top: 50px;
  }

  .actions {
    display: flex;
    gap: 15px;
  }

  .logo {
    margin-bottom: 40px;
  }

  .nav {
    margin: 30px 0;
    flex-direction: row;
    align-items: center;
  }

  .navItem {
    font-size: 18px;
    margin: 20px 0;
  }

  .logoutButton {
    padding: 8px 16px;
    font-size: 14px;
  }

  .welcomeSection {
    height: auto;
    padding: 100px 25px;
    padding-top: 0px;
  }
  
  .welcomeMessage {
    padding: 30px;
    font-size: 24px;
  }

  .main {
    flex-direction: column;
    padding: 50px 0;
  }

  .flashcard {
    width: 362.5px;
    height: 225px;
    font-size: 15px
    ;
  }

  .controls {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .controlButton {
    padding: 10px 40px;
    font-size: 16px;
  }

  .footer p {
    font-size: 16px;
  }
}

/* Extra small screens (max-width: 600px) */
@media screen and (max-width: 600px) {
  .header {
    padding: 5px;
  }
  .nav {
    margin: 30px 20px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }

  .navItem {
    font-size: 12px;
    font-weight: normal;
    padding: 5px;
    border: 1px solid white; /* Change the color as needed */
  }

  .logoutButton {
    padding: 6px 12px;
    font-size: 12px;
  }

  .welcomeMessage {
    padding: 20px;
    font-size: 18px;
  }

  .flashcard {
    width: 110px;
    height: 110px;
    font-size: 15px;
  }

  .flashcardFront, .flashcardBack {
    position: absolute;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 10px;
  }

  /* Front side styling */
.flashcardFront {
  background-color: #f0f0f0;
  color: #000;
  padding: 120px 50px;
}

/* Back side styling */
.flashcardBack {
  background-color: #333;
  color: #fff;
  transform: rotateY(180deg); /* Rotate the back side to align correctly */
  padding: 120px 50px;
}

  .controlButton {
    padding: 8px 20px;
    font-size: 14px;
    margin-top: 160px;
  }

  .footer p {
    font-size: 14px;
  }
}
