/* components/Navbar.module.css */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--secondary-background-color);
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
  }
  
  .navLinks {
    list-style: none;
    display: flex;
    gap: 2rem;
    margin: 0;
  }
  
  .navLinks li {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .navLinks li a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .navLinks li a:hover {
    color: var(--primary-color);
  }
  