.container {
    background: linear-gradient(to bottom, #070421, #1B1287);
    color: #FFFFFF;
    font-family: 'Fira Code', monospace;
    min-height: 100vh;
  }
  
  .welcomeSection {
    text-align: center;
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding: 50px 0;
  }
  
  .welcomeMessage {
    background-color: #1E3A8A;
    padding: 50px;
    font-size: 35px;
    border-radius: 10px;
  }

@media screen and (max-width: 1200px) {
 

  .welcomeSection {
    height: auto;
    padding: 200px 25px;
  }

  .welcomeMessage {
    font-size: 30px;
  }
}

@media screen and (max-width: 768px) {
  .welcomeSection {
    height: auto;
    padding: 100px 25px;
    padding-top: 0px;
  }

  .welcomeMessage {
    padding: 30px;
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {

  .welcomeMessage {
    padding: 20px;
    font-size: 18px;
  }

}
